{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
       <h1>Change Password</h1>
        <form role="form" method="POST">
            {% csrf_token %}
            {% for field in passForm.visible_fields %}
            <div class="form-group">
                <label for="col-lg-3 col-form-label form-control-label">{{ field.label_tag }}</label>
                {{field.errors}}
              
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
            </div>
        </form>
</div>

{% endblock %}